Source: libodraw
Section: unknown
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage: http://code.google.com/p/libodraw/

Package: libodraw
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library to access optical disc (split) RAW formats
 libodraw is a library to access optical disc (split) RAW formats.

Package: libodraw-dev
Section: libdevel
Architecture: any
Depends: libodraw (= ${Source-Version})
Description: Header files and libraries for developing applications for libodraw
 Header files and libraries for developing applications for libodraw.

Package: libodraw-tools
Section: utils
Architecture: any
Depends: libodraw (= ${Source-Version}), ${shlibs:Depends}
Description: Several tools for accessing optical disc (split) RAW formats
 Several tools for accessing optical disc (split) RAW formats.

